.main img {
    height: 80vh;
    width: auto;
}

a {
    transition-duration: 0.6s;
}

a:hover {
    color: red;
}

p {
    transition-duration: 0.6s;
}

p:hover {
    color: white;
    cursor: pointer;
}

h1 {
    transition-duration: 0.6s;
}

h1:hover {
    color: red;
    cursor: pointer;
}

button {
    transition-duration: 0.6s;
}

button:hover {
    background-color: green;
}